body {
background: #FFF;
font-family: 'Roboto', sans-serif;
color: #434455;
}
.link {
    text-decoration: none;
}
.list {
    list-style-type: none;
}
button {
    cursor: pointer;
}
.logotype {
color: #4D5AE5; 
font-size: 18px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.logotype-second-part {
color:#2E2F42;
font-size: 18px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.menu-link {
color: #2E2F42;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
}
.menu-link:hover,
.menu-link:focus {
color: #4D5AE5;
}
.address {
color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
font-style: normal;
}
.main-section {
background:#2E2F42;
}
.main-title {
color: #FFF;
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
}
.button {
background: #4D5AE5;
color: #FFF;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
border-radius: 4px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.title-list-hero {
color: #2E2F42;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}
.text-list-hero {
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}
.title-personel {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;    
}
.name-personel {
color: #2E2F42;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}
.position {
color: #434455;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02;
}
.title-portfolio {
color: #2E2F42;
text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}
.title-list-portfolio {
color: #2E2F42;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}
.text-list-portfolio {
color: #434455;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}
.footer-logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}  
.section-footer{
background: #2E2F42;    
}  
.footer-logo-second-part {
color: #F4F4FD;
font-family: 'Raleway', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.16;
letter-spacing: 0.03em;
text-transform: uppercase;
}       
.footer-text {
color: #F4F4FD;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}